<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>

        <v-app-bar class="indigo darken-4" app>
          <!--<v-app-bar-nav-icon></v-app-bar-nav-icon>-->
          <v-toolbar-title class="white--text font-weight-regular">{{title}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-avatar>
            <v-img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Flag_of_the_Philippines_-_cropped_sun.svg"></v-img>
          </v-avatar>
        </v-app-bar>
        <v-content>
          <v-container class="ma-0 pa-0" fluid>
            <v-row class="ma-0 pa-0 justify-center">
              <v-col 
                    lg="4"
                    md="12">
                <v-card class="ma-auto indigo darken-4" id="main_body">
                  <v-list-item>
                    <v-list-item-avatar color="light-blue" right><img src="https://bit.ly/2x3yZGG"/></v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title class="headline white--text">Jean Jay Quitayen</v-list-item-title>
                      <v-list-item-subtitle class="red--text font-weight-thin">📡 | 👨🏻‍💻 | 🧑🏻‍🔬 | 📈</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                      <v-list-item-content class="white--text">
                          <p style="line-height:2;">I am an Electronics Engineer with great passion in computer programming.</p>
                      </v-list-item-content>
                  </v-list-item>

                </v-card>


              </v-col>
            </v-row>
            <v-row class="ma-0 pa-0 justify-center">
              <v-col
                    lg="4"
                    md="12">
                <v-card class="ma-auto purple darken-4 white--text">
                  <v-card-title>Professional</v-card-title>
                  <v-list-item v-for='field in skills'>
                    <v-list-item-content class="white--text" v-for="skill in field">
                      {{skill}}
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-col>
            </v-row>
            <v-row class="ma-0 pa-0 justify-center">
              <v-col
                    lg="4"
                    md="12">
                <v-card class="ma-auto blue darken-4 white--text">
                  <v-card-title>Skills</v-card-title>
                  <v-list-item v-for='field in skills'>
                    <v-list-item-content class="white--text" v-for="skill in field">
                      {{skill}}
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-content>
        <v-footer class="font-weight-thin justify-center" width="100%">
                        All rights reserve {{year}}
        </v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
        data:{
            drawer:null,
            year:new Date().getFullYear(),
            skills: {
              embedded:['Arduino', 'Atmel AVR', 'ARM', 'FPGA'],
              webdev:['Javascript', 'VueJS', 'React', 'Python']},
            title: "Welcome!"
        },

    })
  </script>
  
</body>


</html>
